<div id="main">
  <div class="current_place">
       <ul>
	    <li><a href="https://jay.novasol-slv.wgq.me/" target="_self">首页</a>&gt;&gt;</li>
        <li><a href="https://jay.novasol-slv.wgq.me/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98" target="_self">常见问题</a>&gt;&gt;</li>
		<li><a href="#" target="_self">关于Q10</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
     <div class="mem_des_before_left_head_img"> &nbsp; </div>
     <div class="mem_des_before_left_head_title">常见问题</div>
     <ul>
           <li class="mem_des_before_left_item_blue"><a href="#" target="_self">关于Q10</a>
           <li class="mem_des_before_left_item"><a href="https://jay.novasol-slv.wgq.me/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98/%E4%B9%B0%E5%AE%B6%E9%A1%BB%E7%9F%A5" target="_self">买家须知</a>  
		   <li class="mem_des_before_left_item"><a href="https://jay.novasol-slv.wgq.me/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98" target="_self">Q&A</a></li>
     </ul> 
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
    <div class="product_right_bottom_aboutq10">
           
           <div class="pic"><%=raw @page.content_for(:pic_1) %>
	</div>                                    
         <div class="returntop"><a href="#">返回顶部</a></div>                   
   </div>
  </div>
</div>

 

