<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<!--中间部分开始-->
<div id="NovaSOLtelephone"><img src="/assets/SOLtelephone.jpg" width="158" height="62"> </div>
<div id="main">
  <div class="current_place">
       <ul>
	    <li><a href="#" target="_self">首页</a>>></li>
        <li><a href="#" target="_self">会员专区</a></li>
		
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
     <div class="mem_des_before_left_head_img"> &nbsp; </div>
     <div class="mem_des_before_left_head_title">会员专区</div>
     <ul>
     <li class="mem_des_before_left_item"><a href="../%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6" target="_self">会员制度</a></li>
     <li class="mem_des_before_left_item"><a href="../%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E6%96%B0%E5%93%81%E4%BD%93%E9%AA%8C" target="_self">新品体验</a></li>
     <li class="mem_des_before_left_item_blue"><a >积分换礼</a></li>
     <li class="mem_des_before_left_item"><a href="../%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E6%9C%80%E6%96%B0%E6%B4%BB%E5%8A%A8" target="_self">最新活动</a></li>     
     <li class="mem_des_before_left_item"><a href="../%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E7%BE%8E%E7%A0%94%E6%B2%99%E9%BE%99" target="_self">美颜沙龙</a></li>
       
      
     </ul>  
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
    <div class="product_right_bottom_aboutq10">
    <div class="memsystemlineone" style="font-size:30px;text-align:center;">敬请期待。</div>
	<div class="comming" style="font-size:25px;text-align:center;color:#6A4F9F;margin-top:25px;">Coming&nbsp;Soon!</div>
   
  </div>
</div>

 
  

</body>
</html>

