<style type="text/css">
	.none
	{	
		display:none;
	}
	.show
	{
		display:block;
	}
    .showproduct
	{
	    color:#41347C;
		background:#F7F7F7;
	}
    .noneproduct
	{
	    color:#A9A9A9;
		background:#FFF
	}
	.box{
	position:relative;
}

.box .small{
	position:relative;
	background:#FFF;}

.box .small .mark{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:60px;
	height:60px;
	background:#FFFFFF;
	filter:alpha(opacity:50); 
	opacity:0.5;
	border:1px solid #333;
	display:none;
	}

.box .big{
	position:absolute;
	left:225px;
	top:0;
	display:none;
	}
	
.boxbig{
	position:absolute;
	left:255px;
	top:0;
	width:180px;
	height:180px;
	overflow:hidden;
	}

</style>
<script type="text/javascript">
<!--
	var proCate=new Array();
     proCate[0]="pro_detail";
     proCate[1]="pro_sale";
     var proClass=new Array();
     proClass[0]="detail";
     proClass[1]="sale";
	 
	 function showPro(elementId)
	 {
		 for(var i=0;i<proCate.length;i++){
		 if(elementId==i){

			 document.getElementById(proClass[i]).className="show";
			 document.getElementById(proCate[i]).className="showproduct";
			 
			 }
		  else{
			document.getElementById(proClass[i]).className="none";
			 document.getElementById(proCate[i]).className="noneproduct";
			  }
		 }

	 }	
	 
	  function changePic(elementId)
	{
		if(elementId == 0)
		{
			
			document.getElementById("pic1").src=document.getElementById("pic1s").value;
			document.getElementById("pic2").src=document.getElementById("pic1l").value;
			
		}else if(elementId == 1)
		{
		
			document.getElementById("pic1").src=document.getElementById("pic2s").value;
			document.getElementById("pic2").src=document.getElementById("pic2l").value;
		}
		else if(elementId == 2)
		{
		
			document.getElementById("pic1").src=document.getElementById("pic3s").value;
			document.getElementById("pic2").src=document.getElementById("pic3l").value;
		}
	}
	 
	
	 	 
//-->
</script>
<body>
<!--中间部分开始-->
<div id="NovaSOLtelephone"><img src="/assets/SOLtelephone.jpg" width="158" height="62"> </div>
<div id="main">   
  <div><img src="/assets/introduce_adv.jpg" width="928" height="101"> </div>
  <div class="current_place">
     <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="../%E4%BA%A7%E5%93%81%E4%BF%A1%E6%81%AF" target="_self">产品信息</a>&gt;&gt;</li>
		<li><a href="#" target="_self">NovaSOL</a></li>
		<div style="clear:both"></div>
	 </ul>
  
  
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
     
     <div class="mem_des_before_left_head_title">产品信息</div>
     <div class="mem_des_before_left_head_img"> &nbsp; </div>
     <div class="mem_des_before_left_item_blue"><a>NovaSOL</a></div>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
       <div class="line1" id="product_name"></div>
       <div class="product_right_head">
       		<div class="product_right_head_left"><div class="box" >
    	    <div class="small">
        	<span class="mark"></span><img id="pic1"  width="230" height="230" /></div>
        <div class="boxbig">
        	<div class="big"><img id="pic2"  width="690" height="690" /></div>
        </div>
    </div></div>
            <div class="product_right_head_right">
            
            <table height="211">
			<tr>
              <td width="113"><div class="line3_1">会员价格：</div></td>
              <td width="148"><div class="line3_2">￥</div></td>
              <td width="81"><div class="line3_3" id="price_desc"></div></td>
            </tr>
            <tr>
              <td width="113"><div class="line2_1">规格：</div></td>
              <td width="148"><div class="line2_2" id="spec"></div></td>
            </tr>    
             <tr>
              <td width="113"><div class="line4_1">数量：</div></td>
              <td width="148"><div class="line4_2"><input type="text" name="amount" id="amount" />盒</div></td>
            </tr>
             <tr>
				 <td width="113">
					<input type="hidden" id="dontredirect" />
					<% if session[:login] %>
						<div class="line5_1" onclick="neworder()">
					<% else %>
						<div class="line5_1" onclick="openpopup(true, true)">
					<% end %>
						 &nbsp;&nbsp;  放入购物车
					 </div>
				 </td>
              <td width="148"><div class="line5_2"><img src="../assets/introduce_add.jpg" width="21" height="21" /></div></td>
              <td width="81"><div class="line5_3">收藏此产品</div></td>
            </tr>
             <tr>
              <td width="113"><div class="line6_1">产品评分 ：</div></td>
              <td width="148"><div class="line6_2"><img src="../assets/introduce_star.jpg" width="89" height="14" /></div></td>
              <td width="81"><div class="line6_3"><a href="#">已有0条评论</a></div></td>
              <td width="61"><div class="line6_4"><a href="#">发表评论</a></div></td>
            </tr>
             
            </table>
            </div>
            </div>



     <div class="pictable" style="float:left;margin-left:-6px;">
   	   <table width="291" height="95" border="0">
             <tr>
                  <td width="285" id="gallery">			    
                  </td>
                  
         </tr>  
      </table>
    </div> 
	<div>
	<table width="392" height="46" border="0" style="margin-left:0px;margin-top:4px">
  <tr>
    <td width="288"  style="background:#efefef;" ><div class="products_textpurple">使用方法</div><div class="products_textblack" id="usage"></div></td>
    <td width="102"  style="background:#efefef;"><div class="products_textpurple">原产地</div><div class="products_textblack" id="orig"></div></td>
  </tr>
   
</table></div>
<div >
<table width="388" height="46" border="0" style="margin-left:287px;background:#efefef; ">
  <tr>
    <td><div class="products_textpurple">主要成分</div><div class="products_textblack" id="comp"></div></td>
  </tr>
</table>
</div>

    <div class="product" >
           <ul>
              <li onmouseover="showPro(0)" id="pro_detail" class="showproduct">关于Q10</li>
              <li onmouseover="showPro(1)" id="pro_sale" class="noneproduct">NovaSOL&nbsp;Q10特有优势</li>
                      
           </ul>
    </div>

	<div id="" class="introduce_right_mid">
		<div id="detail" class="">	            
        </div>
		<div id="sale" class="none">                  
         </div>		
	</div>
	
	
  
  </div>
</div>
<% content_for :javascripts do %>
	<script type="text/javascript">
$(function(){
	var mouseX = 0;		//鼠标移动的位置X
	var mouseY = 0;		//鼠标移动的位置Y
	var maxLeft = 0;	//最右边
	var maxTop = 0;		//最下边
	var markLeft = 0;	//放大镜移动的左部距离
	var markTop = 0;	//放大镜移动的顶部距离
	var perX = 0;	//移动的X百分比
	var perY = 0;	//移动的Y百分比
	var bigLeft = 0;	//大图要移动left的距离
	var bigTop = 0;		//大图要移动top的距离

	//改变放大镜的位置
	function updataMark($mark){
		//通过判断，让小框只能在小图区域中移动		
		if(markLeft<0){
			markLeft = 0;
		}else if(markLeft>maxLeft){
			markLeft = maxLeft;
		}
		
		
		if(markTop<0){
			markTop = 0;
		}else if(markTop>maxTop){
			markTop = maxTop;
		}
		
		//获取放大镜的移动比例，即这个小框在区域中移动的比例
		perX = markLeft/$(".small").outerWidth();
		perY = markTop/$(".small").outerHeight();
		
		bigLeft = -perX*$(".big").outerWidth();
		bigTop = -perY*$(".big").outerHeight();
		
		//设定小框的位置
		$mark.css({"left":markLeft,"top":markTop,"display":"block"});
	}
	
	//改变大图的位置
	function updataBig(){
		$(".big").css({"display":"block","left":bigLeft,"top":bigTop});
	}
	
	//鼠标移出时
	function cancle(){
		$(".big").css({"display":"none"});	
		$(".mark").css({"display":"none"});
	}
	
	//鼠标小图上移动时
	function imgMouseMove(event){
		
		var $this = $(this);
		var $mark = $(this).children(".mark");
  		
		//鼠标在小图的位置
		mouseX = event.pageX-$this.offset().left - $mark.outerWidth()/2;
		mouseY = event.pageY-$this.offset().top - $mark.outerHeight()/2;
		
		//最大值
		maxLeft =$this.width()- $mark.outerWidth();
		maxTop =$this.height()- $mark.outerHeight();
		markLeft = mouseX;
		markTop = mouseY;
		
		updataMark($mark);
		updataBig();
	}
	
	
	$(".small").bind("mousemove",imgMouseMove).bind("mouseleave",cancle);
})

$(document).ready (function() {getproductnovasol();});

</script>
<% end %>
</body>
</html>


