<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<form action="" method="get">
<!--中间部分开始-->
<div id="main">
     
  <div class="current_place">      
     <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员中心</a>&gt;&gt;</li>
		<li><a href="#" target="_self">个人信息</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
   <div class="mem_des_before_left_head_img"> &nbsp; </div>
   <div class="mem_des_before_left_head_title">会员中心</div>
   <ul >
   <li class="mem_des_before_left_item_blue"><a href="#" target="_self">个人信息</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E8%B4%AD%E7%89%A9%E8%BD%A6" target="_self">购物车</a></li>
   <li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
   </ul>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
   <div class="mem_des_before_right_top">
     <div class="mem_des_before_right_item">
      <div id="mem_des_before_right_item_title">
       <ul>
        <li class="mem_basic_info_text">会员基本信息&nbsp; </li>
        <li class="mem_basic_info_mark">*  </li>
        <li class="mem_basic_info_mark"><sub>为必填内容</sub></li>
        <div style="clear:both"></div>
       </ul>
      </div>
	   <div>
	     <table>
                <tr>
                <td width="32">
				    <div class="mem_basic_info_name_text">姓名
				    </div>
				</td>
                <td width="7" >
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td width="30" >
                <div class="maohao1">:</div>
                </td>
                <td width="293">
				    <div>
					<input id="fullname" class="textblank" type="text" name="name" size="23">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div>
	     <table>
                <tr>
                <td width="32">
				    <div class="mem_basic_info_name_text">性别
				    </div>
				</td>
                <td width="36">
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                 <td width="0" >
                <div class="maohao2">:</div>
                </td>
                <td width="58">
				    <div class="mem_basic_info_select_text">
					 <input id="gender1" type="radio" name="sex">男&nbsp;
					</div>
				</td>
				 <td width="37">
				    <div class="mem_basic_info_select_text">
					<input id="gender2" type="radio" name="sex">女
					</div>
				</td>
               </tr> 
		  </table>
	   </div>
	   <div>
	     <table>
                <tr>
                <td width="32">
				    <div class="mem_basic_info_name_text">年龄
				    </div>
				</td>
                <td width="37">
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td width="0" >
                <div class="maohao3">:</div>
                </td>
                <td width="100">
				    <div class="mem_basic_info_select_text">
					<input id="age1" type="radio" name="howold">25岁以下&nbsp;
					</div>
				</td>
				 <td width="79">
				    <div class="mem_basic_info_select_text">
					<input id="age2" type="radio" name="howold">26-35岁&nbsp;
					</div>
				</td>
				 <td width="79">
				    <div class="mem_basic_info_select_text">
					<input id="age3" type="radio" name="howold">36-45岁&nbsp;
					</div>
				</td>
				 <td width="79">
				    <div class="mem_basic_info_select_text">
					<input id="age4" type="radio" name="howold">45-55岁&nbsp;
					</div>
				</td>
				 <td width="83">
				    <div class="mem_basic_info_select_text">
					<input id="age5" type="radio" name="howold">55岁以上&nbsp;
					</div>
				</td>
               </tr> 
		  </table>
	   </div>
	   <div>
	     <table>
                <tr>
                <td>
				    <div class="mem_basic_info_name_text">电邮地址
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                
                <td>
				    <div>
					 ：<input id="email" class="textblank" type="text" name="email" size="43">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div>
	     <table>
                <tr>
                <td>
				    <div class="mem_basic_info_name_text">联络电话
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td>
				    <div>
					：<input id="telephone" class="textblank" type="text" name="phone" size="43">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
	    <div>
	     <table>
                <tr>
                <td>
				    <div class="mem_basic_info_name_text">省份
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td>
				    <div>
					：<input id="province" class="textblank" type="text" name="province" size="6">
					</div>
				</td>
		<td>
				    <div class="mem_basic_info_name_text">城市
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td>
				    <div>
					：<input id="city" class="textblank" type="text" name="city" size="6">
					</div>
				</td>
		<td>
				    <div class="mem_basic_info_name_text">区县
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td>
				    <div>
					：<input id="district" class="textblank" type="text" name="district" size="6">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div>
	     <table>
                <tr>
                <td>
				    <div class="mem_basic_info_name_text">联络地址
				    </div>
				</td>
                <td>
				    <div class="mem_basic_info_mark2">
					 *
					</div>
				</td>
                <td>
				    <div>
					：<input id="contactaddr" class="textblank" type="text" name="address" size="43">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div>
	     <table>
                <tr>
                <td width="62">
				    <div  class="mem_basic_info_name_text">身高
				    </div>
				</td>
                <td width="12" >
                <div class="maohao4">:</div>
                </td>
                <td width="171">
				    <div class="mem_basic_info_select_text">
					 <input id="height" class="textblank" type="text" name="height" size="4">cm
					</div>
				</td>
               </tr> 
		  </table> 
	    </div>
		<div >
	     <table>
                <tr>
                <td width="62">
				    <div class="mem_basic_info_name_text">体重
				    </div>
				</td>
                <td width="12" >
                <div class="maohao5">:</div>
                </td>
                <td width="168">
				    <div class="mem_basic_info_select_text">
					 <input id="weight" class="textblank" type="text" name="weight" size="4">kg
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div >
	     <table>
                <tr>
                <td width="62">
				    <div class="mem_basic_info_name_text">教育程度
				    </div>
				</td>
                <td width="11" >
                <div class="maohao">:</div>
                </td>
                <td width="38">
				    <div class="mem_basic_info_select_text">
					 <input id="education" class="textblank" type="text" name="education" size="5">
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
	    <div>
	     <table>
                <tr>
                <td width="33">
				    <div class="mem_basic_info_name_text">职业
				    </div>
				</td>
 <td width="39"  >
                <div class="maohao6">:</div>
                </td>
                <td width="65">
				    <div class="mem_basic_info_select_text">
					 <input id="career1" type="radio" name="work"> 学生
					</div>
				</td>
				 <td width="88">
				    <div class="mem_basic_info_select_text">
					<input id="career2" type="radio" name="work">教育工作者
					</div>
				</td>
				 <td width="50">
				    <div class="mem_basic_info_select_text">
					<input id="career3" type="radio" name="work">职员
					</div>
				</td>
				 <td width="93">
				    <div class="mem_basic_info_select_text">
					<input id="career4" type="radio" name="work">管理层/经理
					</div>
				</td>
				 <td width="93">
				    <div class="mem_basic_info_select_text">
					<input id="career5" type="radio" name="work">自由职业者
					</div>
				</td>
				 <td width="53">
				    <div class="mem_basic_info_select_text">
					<input id="career6" type="radio" name="work">其他
					</div>
				</td>               
               </tr> 
		  </table>
	   </div>
	    <div>
	     <table width="700">
                <tr>
                <td>
				    <div class="mem_basic_info_name_text">每月收入
				    </div>
				</td>
                
                <td>
				    <div class="mem_basic_info_select_text">
					： <input id="income1" type="radio" name="salary">3000以下
					</div>
				</td>
				 <td>
				    <div class="mem_basic_info_select_text">
					<input id="income2" type="radio" name="salary">3001-5000
					</div>
				</td>
				 <td>
				    <div class="mem_basic_info_select_text">
					<input id="income3" type="radio" name="salary">5001-7000
					</div>
				</td>
				 <td>
				    <div class="mem_basic_info_select_text">
					<input id="income4" type="radio" name="salary">7001-9000
					</div>
				</td>
				 <td>
				    <div class="mem_basic_info_select_text">
					<input id="income5" type="radio" name="salary">9001-11000
					</div>
				</td>
				 <td>
				    <div class="mem_basic_info_select_text">
					<input id="income6" type="radio" name="salary">11001以上
					</div>
				</td>
               </tr> 
		  </table>
	   </div>
     </div>
	 </div>
     <div class="mem_des_before_right_bottom">
	    <div class="mem_des_before_right_bottom_in">
	     <div>
	     <table>
                <tr>
                <td width="168">
				    <div  class="mem_basic_info_name_text">您是否服用过Q10产品
				    </div>
				</td>
				<td width="99">
				    <div class="mem_basic_info_select_text">
					：<input id="haveused1" type="radio" name="haveq10befores">有
					</div>
				</td>              
				<td width="60">
				    <div class="mem_basic_info_select_text">
					<input id="haveused2" type="radio" name="haveq10befores">没有&nbsp;
					</div>
				</td>
               </tr> 
		  </table>
	    </div>
		<div>
		<table>
              <tr>
                <td width="173">
				    <div  class="mem_basic_info_name_text">您从哪里得知我们的产品
				    </div>
				</td>
                <td width="100">
				    <div class="mem_basic_info_select_text">
					: <input id="source1" type="radio" name="wheretoknows">电视购物&nbsp;
					</div>
				</td> 				
              </tr>
              <tr>
                <td></td>
                <td>
				    <div class="mem_basic_info_select_text_multi">
					<input id="source2" type="radio" name="wheretoknows">互联网&nbsp;
					</div>
				</td> 				
              </tr>
              <tr>
                  <td></td>
                <td>
				    <div class="mem_basic_info_select_text_multi">
					<input id="source3" type="radio" name="wheretoknows">杂志&nbsp;
					</div>
				</td> 				
              </tr>
			  <tr>
                  <td></td>
                <td>
				    <div class="mem_basic_info_select_text_multi">
					<input id="source4" type="radio" name="wheretoknows">朋友/家人&nbsp;
					</div>
				</td> 				
              </tr>
			   <tr>
                  <td></td>
                <td>
				    <div class="mem_basic_info_select_text_multi">
					<input id="source5" type="radio" name="wheretoknows">讲座&nbsp;
					</div>
				</td> 				
              </tr>
			   <tr>
                  <td></td>
                <td>
				    <div class="mem_basic_info_select_text_multi">
					<input id="source6" type="radio" name="wheretoknows">其他&nbsp;
					</div>
				</td> 				
              </tr>
         </table>
		</div>		
		<div id="mem_info_picture_write">
		   <ul>
		     <li class="mem_info_finish">
		       <button type="button" class="mem_info_finish_1" value="" onclick="sendfillinfo()" />
		     </li>
		     <li class="mem_info_rewrite">
		 <input type="reset" class="mem_info_finish_2" value="" />
		     </li>
		    </ul>
		</div>
	   </div>
	 </div>
	 <div class="mem_info_telephone">
	 </div>
	 <div class="mem_info_teletext">
	  <ul>
	  <li>
	     NEED ASSISTANCE？
	  </li>
	  <li>
	   订购咨询热线：400-920-1398
	  </li>
	  </ul>
	  </div>
  </div>
<div style="clear:both"></div>
</div>

<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			$(document).ready (preparefillinfo);
		<% else %>
			$(document).ready (function() {openpopup(true, false);});
		<% end %>
	</script>
<% end %>

<input type="hidden" id="dontredirect" />

</form>
</body>
</html>
