<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<form action="" method="get">
<!--中间部分开始-->
<div id="main">
     
  <div class="current_place">      
     <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员中心</a>&gt;&gt;</li>
		<li><a href="#" target="_self">个人信息</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
   <div class="mem_des_before_left_head_img"> &nbsp; </div>
   <div class="mem_des_before_left_head_title">会员中心</div>
   <ul >
   <li class="mem_des_before_left_item_blue"><a href="#" target="_self">个人信息</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E8%B4%AD%E7%89%A9%E8%BD%A6" target="_self">购物车</a></li>
   <li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>   
   </ul>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
   <div class="mem_des_after_right_top">
     <div class="mem_des_after_right_item">
      <div id="mem_des_after_right_item_title">
       <ul>
        <li class="mem_basic_info_text_after">会员基本信息&nbsp; </li>
        <li class="mem_des_after_edit_info">
		<button type="button" class="edit_info_pic" value="" onclick="location.href='/pages/24';"></button>
		 
		</li>
        <li class="mem_des_after_update_code">
         <input type="submit" class="update_code_pic" value="" />
		    
		</li>
        <div style="clear:both"></div>
       </ul>
      </div>
	   <div>
	     <table class="aftermeminfo">
                <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">姓名：&nbsp;&nbsp;
				    </div>
				</td>
				<td width="110">
				    <div id="fullname" class="mem_basic_info_select_text_after">
					
					</div>
				</td>
                <td>
				    <div  class="mem_basic_info_name_text_after">性别：&nbsp;&nbsp;
				    </div>
				</td>
				<td width="200">
				    <div id="gender" class="mem_basic_info_select_text_after">
				
					</div>
				</td>
				<td>
				    <div  class="mem_basic_info_name_text_after">年龄：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="age" class="mem_basic_info_select_text_after">
				
					</div>
				</td>
               </tr> 
			   <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">联络电话：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="telephone" class="mem_basic_info_select_text_after">
					
					</div>
				</td>
                <td>
				    <div  class="mem_basic_info_name_text_after">电邮地址：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="email" class="mem_basic_info_select_text_after">
				
					</div>
				</td>				
               </tr> 
			   <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">身高：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="height" class="mem_basic_info_select_text_after">
					
					</div>
				</td>
                <td>
				    <div  class="mem_basic_info_name_text_after">体重：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="weight" class="mem_basic_info_select_text_after">				
					</div>
				</td>				
               </tr> 
			   	   <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">教育程度：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="education" class="mem_basic_info_select_text_after">
					
					</div>
				</td>
                <td>
				    <div  class="mem_basic_info_name_text_after">职业：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="career" class="mem_basic_info_select_text_after">				
					</div>
				</td>	
				    <td>
				    <div  class="mem_basic_info_name_text_after">每月收入：&nbsp;&nbsp;
				    </div>
				</td>
				<td>
				    <div id="income" class="mem_basic_info_select_text_after">				
					</div>
				</td>			
               </tr>
		  </table>
	    </div>
	   						   	   
     </div>
	 </div>
	 <!-- 下面是右下角框里的东西-->
     <div class="mem_des_after_right_bottom">
	    <div class="mem_des_after_right_bottom_in">
		<table height="35">
		<tr>
				<td>
				    <div class="mem_basic_info_text_after">您的送货地址			
					</div>
				</td>
					
				<td>			   
				</td>
				<td>				   	   
				</td>
				<td>
				    <div class="mem_basic_info_add_addr">	<input type="submit" class="add_addr_pic" value="" />
					 
					</div>
				</td>	
		</tr>
		</table><table width="700">
		<tr>
                <td width="113">
				    <div  class="mem_basic_info_name_text_after">选择地址类别:
				    </div>
				</td>
				<td width="587">
				    <div class="mem_basic_info_select_text_after">				
					</div>	</td>			    
				
         </tr>
		 <tr>
                <td >
				    <div  class="mem_basic_info_name_text_after">地址名称:
				    </div>
				</td>
				<td>
				    <div class="mem_basic_info_select_text_after">				
					</div>	</td>			    
				
         </tr>	
		 <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">姓名:
				    </div>
				</td>
				<td>
				    <div class="mem_basic_info_select_text_after">				
					</div>	</td>			    
			
         </tr>	
		 <tr>
                <td>
				    <div  class="mem_basic_info_name_text_after">地址:
				    </div>
				</td>
				<td>
				    <div id="contactaddr" class="mem_basic_info_select_text_after">				
					</div>		</td>		    
				
         </tr>	
				    
				
		</table>

	<table width=“700”>
	
	 <tr>
                <td width="103">
				    <div  class="mem_basic_info_name_text_after">省份:
				    </div>
				</td>
				<td  width="130">
				    <div id="province" class="mem_basic_info_select_text_after">				
					</div>		</td>	
		<td width="103">
				    <div  class="mem_basic_info_name_text_after">城市:
				    </div>
				</td>
				<td  width="130">
				    <div id="city" class="mem_basic_info_select_text_after">				
					</div>		</td>	
		<td width="103">
				    <div  class="mem_basic_info_name_text_after">区县:
				    </div>
				</td>
				<td  width="130">
				    <div id="district" class="mem_basic_info_select_text_after">				
					</div>		</td>	
				
         </tr>	
	
	
	</table>
	<table width=“700”>
	    <tr>
                <td width="103">
				    <div  class="mem_basic_info_name_text_after">手机号码:
				    </div>
				</td>
				<td width="597">
				    <div class="mem_basic_info_select_text_after">				
					</div>	</td>	
	   </tr>
	</table>
    <div id="mem_des_after_picture">
	<ul>
	<li>
				<div class="mem_des_edit">
				<input type="submit" class="edit_pic" value="" />
				</div>				   
    </li>
	<li>
				<div class="mem_des_delete">	
				<input type="submit" class="delete_pic" value="" /></div>	
	 </li>		
	 </ul>   
     </div>
		
	   </div>
	 </div>
	 <div class="mem_info_telephone">
	 </div>
	 <div class="mem_info_teletext">
	  <ul>
	  <li>
	     NEED ASSISTANCE？
	  </li>
	  <li>
	   订购咨询热：400-920-1398
	  </li>
	  </ul>
	  </div>
  </div>
<div style="clear:both"></div>
</div>

<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			$(document).ready (getfillinfo);
		<% else %>
			$(document).ready (function() {openpopup(true, false);});
		<% end %>
	</script>
<% end %>

<input type="hidden" id="dontredirect" />

 </form>
</body>
</html>
