<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<!--中间部分开始-->
<div id="NovaSOLtelephone"><img src="/assets/SOLtelephone.jpg" width="158" height="62"> </div>
<div id="main">
  <div class="current_place">
       <ul>
	    <li><a href="/" target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员专区</a>&gt;&gt;</li>
		<li><a href="#" target="_self">会员制度</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
     <div class="mem_des_before_left_head_img"> &nbsp; </div>
     <div class="mem_des_before_left_head_title">会员专区</div>
        <ul >
             <li class="mem_des_before_left_item_blue"><a href="#" target="_self">会员制度</a></li>
	     <li class="mem_des_before_left_item"><a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E6%96%B0%E5%93%81%E4%BD%93%E9%AA%8C" target="_self">新品体验</a></li>
	     <li class="mem_des_before_left_item"><a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E7%A7%AF%E5%88%86%E6%8D%A2%E7%A4%BC" target="_self">积分换礼</a></li>
	     <li class="mem_des_before_left_item"><a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E6%9C%80%E6%96%B0%E6%B4%BB%E5%8A%A8" target="_self"" target="_self">最新活动</a></li>            
             <li class="mem_des_before_left_item"><a href="/%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E7%BE%8E%E7%A0%94%E6%B2%99%E9%BE%99" target="_self" target="_self">美研沙龙</a></li>
             
             
        </ul>   
     </div>
     </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
    <div class="product_right_bottom_aboutq10">
    <div class="memsystemlineone">2012年度康美汇会员制度</div>
    <div class="memsystemtextblue">关于康美汇</div>
    <div class="memsystemtextblack">康美汇成立于2012年，隶属于香港宇思有限公司旗下。康美汇倡导健康、美丽、乐活的生活态度。定期组织免费美研课堂，向其会员提供了解健康、获得健康的有效途径。</div>
    <div class="memsystemtextblue">会员入会规则</div>
    <div class="textulli">
        <ul>
            <li>登陆康美汇网站并注册成为康美汇会员，即可：
            <ul>
                <li>A.  获赠100点积分</li>
                <li>B.  在网络发表试用心得，有机会获得NOVASOL产品</li>
                <li>C.  会员专享礼遇</li>
            </ul>
            </li>
            <li>会员卡只限会员本人使用</li>
            <li>凭会员身份累计积分以及享受优惠</li>
        </ul>  
    </div>
    <div class="memsystemtextblue">会员身份及积分规则</div>
    <div class="textulli">
        <ul>
            <li>每消费1元，积1分，特别奖励积分奖励活动除外</li>
            <li>限中国大陆地区的康美汇会员参加积分累计活动</li>
            <li>积分兑换及查询途径
            <ul>
                <li>A.  拨打会员专线:&nbsp;400-920-1398</li>
                <li>B.  登陆官方网站:&nbsp;www.novasol.com.cn</li>             
            </ul>
            </li>
            <li>会员推荐好友至康美汇官网，并加入康美汇，将获得200分的奖励积分</li>
            <li>会员积分有效期为1年。</li>
            <li>会员身份失效积分亦相应失效。</li>
        </ul>  
    </div>
    <div class="memsystemtextblue">会员分类</div>
    <div class="textulli">
        <ul>
            <li>普通会员：登陆网站，并成功注册即成为普通会员。 </li>
            <li>VIP会员：2年之内累计消费>=1000元的顾客，自消费金额满足VIP会员最低下线起，即为VIP会员。</li>
            <li>白金会员：2年之内累计消费>=2500元的顾客，自消费金额满足白金会员下最低线起，即为白金会员。</li>
        </ul>  
    </div>
   
    <div class="textorange">注：2012年度的VIP会员为在2012年1月1日-2014年12月31日期间购物金额>=1000元的顾客。白金会员为在2012年1月1日-2014年12月31日期间购物金额>=2500元的顾客。</div>
     <div class="memsystemtextblue">会籍期限及续会方式</div>
    <div class="memsystemtextblack">所有会员的会籍有效期限为2年，以注册日期为准，延续2年。例：若2012年2月15日入会，则会籍到期日为2014年2月14日。</div>
    <div class="memsystemtextblue">会员积分兑换</div>
    <div class="memsystemtextblack">会员积分起兑点：2000点，可在每年的6月12月进行礼品兑换的申请。</div>
    <div class="memsystemtextblue">会员专享礼遇</div>
    <div class="memsystem_table_grey">
          <table width="679"  border="0">
            <tr class="memsystem_table_grey1" >
               <td width="246" >&nbsp;</td>
               <td width="156">普通会员</td>
               <td width="155">VIP会员</td>
              <td width="169">白金会员</td>
            </tr>
            <tr class="memsystem_table_grey2">
              <td ><ul>
                      <li>专属折扣</li> 
                      <li>购正价产品9.5折优惠</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
            </tr>
            <tr class="memsystem_table_grey3" height="39";>
              <td ><ul>
                     <li>升级礼遇</li> 
                     <li>会员升级赠200积分</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td>
                   <img src="/assets/memsystem_pic2.jpg" width="25" height="25" /></td>
              <td>
                  <img src="/assets/memsystem_pic2.jpg" width="25" height="25" />
              </td>
            </tr>
            <tr class="memsystem_table_grey2">
              <td ><ul>
                      <li>积分换礼</li> 
                      <li>每年2次换礼申请，臻选心动好礼</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
            </tr>
            <tr class="memsystem_table_grey3" height="39";>
              <td ><ul>
                     <li>生日谢礼</li> 
                     <li>每个会员只限一次</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td class="textvip">
                   <ul>
                    <li>生日当月首次购物</li> 
                    <li>享1.5倍积分</li>
                  </ul></td>
              <td class="textgold">
                  <ul>
                    <li>①VIP专属生日礼</li> 
                    <li>②生日当月首次购物2倍积分</li>
                 </ul>
              </td>
            </tr>
            <tr class="memsystem_table_grey2">
              <td ><ul>
                      <li>促销信息</li> 
                      <li>提前得知最新促销活动等信息</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
            </tr>
            <tr class="memsystem_table_grey3" height="39";>
              <td ><ul>
                     <li>新品体验</li> 
                     <li>优先获得新品活限定品体验机会</li>
                   </ul>
              </td>
              <td>&nbsp;</td>
              <td>
                   </td>
              <td >
                 <img src="/assets/memsystem_pic2.jpg" width="25" height="25" />
              </td>
            </tr>
            <tr class="memsystem_table_grey2">
              <td ><ul>
                      <li>美研沙龙</li> 
                      <li>有机会受邀参加美研沙龙或讲座</li>
                   </ul>
              </td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
            </tr>
            <tr class="memsystem_table_grey3" height="39";>
              <td ><ul>
                     <li>健康贴士及资讯</li> 
                     <li>定期获取温馨健康贴士及专业资讯</li>
                   </ul>
              </td>
              <td><img src="/assets/memsystem_pic2.jpg" width="25" height="25" /></td>
              <td >
                   <img src="/assets/memsystem_pic2.jpg" width="25" height="25" /></td>
              <td>
                <img src="/assets/memsystem_pic2.jpg" width="25" height="25" /> 
              </td>
            </tr>
            <tr class="memsystem_table_grey2">
              <td ><ul>
                      <li>电子会刊</li> 
                      <li>定期会员电子专刊</li>
                   </ul>
              </td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
              <td><img src="/assets/memsystem_pic.jpg" width="25" height="25" /></td>
            </tr>
            
</table>
</div>
     
    

                   
   </div>
  </div>
</div>


  

</body>
</html>

