<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<!--中间部分开始-->
<div id="main">
  <div class="current_place">      
     <ul>
	    <li><a href="/" target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员中心</a>&gt;&gt;</li>
		<li><a href="#" target="_self">我的积分</a></li>
		<div style="clear:both"></div>
    </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
   <div class="mem_des_before_left_head_img"> &nbsp;</div>
   <div class="mem_des_before_left_head_title">会员中心</div>
   <ul >
   <li class="mem_des_before_left_item"><a href="/%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
   <li class="mem_des_before_left_item_blue"><a href="#" target="_self">我的积分</a></li>
   <li class="mem_des_before_left_item"><a href="/%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
   <li class="mem_des_before_left_item"><a href="/%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
   <li class="mem_des_before_left_item"><a href="/%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
   <li class="mem_des_before_left_item"><a href="/%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E8%B4%AD%E7%89%A9%E8%BD%A6" target="_self">购物车</a></li>
   <li class="mem_des_before_left_item"><a href="/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
   
   </ul>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
   <div class="myrecord_myrecord_before_right_top">
     <div class="myrecord_myrecord_before_right_item">
      <div class="myrecord_myrecord_right_item_title"> 我的积分
      </div>
    <div class="myrecord_myrecord_right_item_title"> 
	      <table >
		  <tr>
		   <td>
	         <div id="myrecord_myrecord_right_item_title_total"> 积分总额：
             </div>
		   </td>
		   <td>
		     <div id="myrecord_myrecord_right_item_title_num">400
             </div>
		   </td>
		   </tr>
	      </table>		
      </div> 
      <div class="myrecord_myrecord2_right_item_info">积分信息</div>
      <div class="myrecord_myrecord2_right_item_grey"><table width="684" border="0">
  <tr>
    <td width="147">积分获取时间</td>
    <td class="lastfour" width="153">积分过期时间</td>
    <td class="lastfour" width="122">有效积分</td>
    <td class="lastfour" width="122">积分状态</td>
    <td class="lastfour" width="118">积分类型</td>
  </tr>
</table>
</div>
    <div class="myrecord_myrecord2_right_item_white"><table width="702" border="0" height="37">
  <tr class="borderblack">
    <td width="147">2012/09/25</td>
    <td width="153">2012/09/25</td>
    <td width="122">400</td>
    <td width="122">有效</td>
    <td width="118">默认</td>
  </tr>
</table>
</div>
    <div class="myrecord_myrecord2_right_item_white"><table width="702" border="0" height="37">
  <tr class="borderblack">
    <td width="147">2012/09/25</td>
    <td width="153">2012/09/25</td>
    <td width="122">400</td>
    <td width="122">有效</td>
    <td width="118">默认</td>
  </tr>
</table>
</div>
 <div class="myrecord_myrecord2_right_item_info">积分兑换记录</div>
      <div class="myrecord_myrecord2_right_item_grey"><table width="702" border="0">
  <tr>
    <td width="147">积分获取时间</td>
    <td class="lastfour" width="153">积分使用时间</td>
    <td class="lastfour" width="122">剩余积分</td>
    <td class="lastfour" width="122">兑换产品</td>
    <td class="lastfour" width="118">积分类型</td>
  </tr>
</table>
</div>
    <div class="myrecord_myrecord2_right_item_white"><table width="702" border="0" height="37">
  <tr class="borderblack">
    <td width="147">2012/09/25</td>
    <td width="153">2012/09/25</td>
    <td width="122">400</td>
    <td width="122">Q10组合</td>
    <td width="118">默认</td>
  </tr>
</table>
</div>
    <div class="myrecord_myrecord2_right_item_white"><table width="702" border="0" height="37">
  <tr class="borderblack">
    <td width="147">2012/09/25</td>
    <td width="153">2012/09/25</td>
    <td width="122">400</td>
    <td width="122">Q10组合</td>
    <td width="118">默认</td>
  </tr>
</table>
</div>
      
      
      
      
     </div>
      <div class="myrecord_mem_des_before_right_bottom">
	    <div class="myrecord_mem_des_before_right_bottom_in">
		
		 <div class="myrecord_mem_info_telephone">
	  </div>
	 <div class="myrecord_mem_info_teletext">
	  <ul>
	  <li>
	     NEED ASSISTANCE？
	  </li>
	  <li>
	   订购咨询热线：400-920-1398
	  </li>
	  </ul>
	  </div>
		
          <div id="myrecord_mem_des_after_picture">
	
          </div>
		
        </div>
	 </div>
    </div>
	 <!-- 下面是右下角框里的东西-->
    
	 
	 
  </div>
<div style="clear:both"></div>
</div>

 
</body>
</html>
