<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<form action="" method="get">

<!--中间部分开始-->
<div id="main">
  <div class="current_place">      
     <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员中心</a>&gt;&gt;</li>
		<li><a href="#" target="_self">我的积分</a></li>
		<div style="clear:both"></div>
    </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
   <div class="mem_des_before_left_head_img"> &nbsp;</div>
   <div class="mem_des_before_left_head_title">会员中心</div>
   <ul >
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
   <li class="mem_des_before_left_item_blue"><a href="#" target="_self">我的积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E8%B4%AD%E7%89%A9%E8%BD%A6" target="_self">购物车</a></li>
   <li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
   </ul>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
   <div class="myrecord_myrecord_before_right_top">
     <div class="myrecord_myrecord_before_right_item">
      <div class="myrecord_myrecord_right_item_title"> 我的积分
      </div>
	  <div class="myrecord_myrecord_right_item_title"> 
	      <table >
		  <tr>
		   <td>
	         <div id="myrecord_myrecord_right_item_title_total"> 积分总额：
             </div>
		   </td>
		   <td>
		     <div id="myrecord_myrecord_right_item_title_num">
             </div>
		   </td>
		   </tr>
	      </table>		
      </div>
	  <div class="myrecord_mem_basic_info_name_text_grey">
	     <table>
		  <tr>
		   <td>
	         <div class="myrecord_mem_basic_info_name_text"> 积分状态：&nbsp;&nbsp;&nbsp;&nbsp;
			    <select>
                    <option value ="recordcanchang">可换</option>
                    <option value ="recordnotchange">已冻结</option>
                 </select>&nbsp;&nbsp;&nbsp;&nbsp;
             </div>
		   </td>
		   <td>
		     <div class="myrecord_mem_basic_info_name_text"> 积分类型：&nbsp;&nbsp;&nbsp;&nbsp;
			    <select>
                    <option value ="recordcanchang">奖励的</option>
                    <option value ="recordnotchange">购买</option>
                 </select>
             </div>
		   </td>
		   </tr>
	      </table>		    
	  </div>
	  <div class="myrecord_mem_basic_info_name_text_grey">
	    <table>
		  <tr>
		   <td>
         <div class="myrecord_mem_basic_info_name_text">
          积分获取时间:&nbsp;&nbsp;<input type="text" id="date_start" size="20" />
         </div>
		   </td>
		    <td>
		 <div>
           ——  <input type="text" id="date_end" size="20" /> 
         </div>
		   </td>
		  </tr>
        </table>
	  </div>   
	  
	    <div id="myrecord_record_condition_select_back">
	      <div>
			  <button type="button" class="myrecord_select_button" name="record_condition_select" onclick="getpointlist()">条件筛选</button>
		  </div>
	    </div>
	    <div id="myrecord_record_list">
	      <div>
		    <table>
		     <tr class="myrecord_dotted">
		       <td class="myrecord_dotted" width="167">
			      &nbsp;&nbsp;积分获取时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      </td>
		      <td class="myrecord_dotted" width="159">
			      积分过期时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      </td>
			  <td class="myrecord_dotted" width="107">
			      有效积分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      </td>
			  <td class="myrecord_dotted" width="117">
			      积分状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      </td>
			  <td class="myrecord_dotted" width="131" align="right">
			      积分类型
		      </td>
		      </tr>
			  <tr>
		       <td>
			     &nbsp;&nbsp;&nbsp;
		      </td>
		      <td>
			     &nbsp;
		      </td>
			  <td>
			      &nbsp;&nbsp;
		      </td>
			  <td>
			       &nbsp;&nbsp;
		      </td>
			  <td align="right">
			       
		      </td>
		      </tr>
        </table>
	     </div>
	  </div>   						   	   
     </div>
      <div class="myrecord_mem_des_before_right_bottom">
	    <div class="myrecord_mem_des_before_right_bottom_in">
		
		 <div class="myrecord_mem_info_telephone">
	  </div>
	 <div class="myrecord_mem_info_teletext">
	  <ul>
	  <li>
	     NEED ASSISTANCE？
	  </li>
	  <li>
	   订购咨询热线：400-920-1398
	  </li>
	  </ul>
	  </div>
		
          <div id="myrecord_mem_des_after_picture">
	
          </div>
		
        </div>
	 </div>
    </div>
	 <!-- 下面是右下角框里的东西-->
    
	 
	 
  </div>
<div style="clear:both"></div>
</div>

<% content_for :javascripts do %>
	<script>
		<% if session[:login] %>
			$(document).ready (getpoint);
		<% else %>
			$(document).ready (function() {openpopup(0, false);});
		<% end %>
	</script>

	<script>

              $(function() {
                    $( '#date_start' ).datepicker();
		    $( '#date_end' ).datepicker();
                    });
        </script>



<% end %>

<input type="hidden" id="dontredirect" />

</body>
</html>
