<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>
</head>
<body>
<!--中间部分开始-->
<div id="NovaSOLtelephone"><img src="/assets/SOLtelephone.jpg" width="158" height="62"> </div>
<div id="main">
  <div class="current_place">
       <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">安全和隐私条款</a></li>
			
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
     <div class="mem_des_before_left_head_img"> &nbsp; </div>
     <div class="mem_des_before_left_head_title">安全和隐私条款</div>

  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
    <div class="product_right_bottom_aboutq10">
    <div class="memsystemlineone">隐私权政策</div>
    <div class="memsystemtextblue">知识产权和版权</div> 
    <div class="memsystemtextblack">本网站所提供的包括(但不限于)文字、内容、软件、视频、音乐、声音、图形、照片、图解、绘画、名称、商标、标识、服务标记及其它材料(“内容”)皆受版权、商标权或其它权利保护。这些内容包括诚泛（上海）贸易有限公司所属或控制的内容以及经由诚泛（上海）贸易有限公司许可由第三方所属或控制的内容。所有个人的文章、报告和其它构成网站的元素都可能是版权著作。您同意接受网站中所有新增加的版权通知或重新限定。未经科诚泛（上海）贸易有限公司先传授相关书面内容(包括但不限于网页上的声明)，你不可使用任何诚泛（上海）贸易有限公司的商标或商业名称，并且您承认您不具有那些名称和商标的所有权。一旦您知道任何一方越权进入或使用本网站或其中的任何内容侵犯了任何一方的任何版权、商标权或其它合同、法规或一般法律权利，您同意以书面形式迅速通知诚泛（上海）贸易有限公司。</div>

    <div class="memsystemtextblue">本地法律和规定</div>
    <div class="memsystemtextblack">本网站不向任何个人以任何权限直接开放，以任何原因出版或利用本网站的内容都是被禁止的。那些有关被禁止的应用不得进入本网站。无论是本网站还是其中的内容，诚泛（上海）贸易有限公司不主张适合使用或以本地法律允许在所有辖区内使用。那些以自身创制权进入本网站的使用者应对遵守适用的本地法律或规定承担责任;有任何疑问时应寻找法律建议。</div>
    <div class="memsystemtextblue">责任限度</div>
    <div class="memsystemtextblack">当您进入使用本网站，即代表您明白和接受您使用本网站的行为，完全由您个人负责。诚泛（上海）贸易有限公司将无法对任何直接的、间接的、意外的、必然性的、特殊的、惩戒性的或惩罚性的损害提供赔偿，或对任何使用、进入本网站或无法使用本网站所导致的所得损失，提供赔偿。使用范围不限于上述内容： 本网站所有的信息和内容是以「原貌」提供，且不以任何形式构成明示或默示保证，适用范围包括但不限于所有权、品质、对于某特定目的的合适性、隐私或不具侵犯性等保证的排除。对于使用或进入本网站所造成的损失或伤害，或对于任何功能缺失、错误、遗漏、中断、刪除、缺陷、运作或传输上的延迟、电脑病毒、电缆的 故障、网上通信遭到拦截、软件或硬件问题（包括资料损毁或兼容性问题的有限责任）、破坏或网站遭到篡改，无论上述情況是否导致违约、伤害行为、过失或任何直接或间接使用、进入本网站所造成的诉讼理由，诚泛（上海）贸易有限公司将一概不负责任（在法律允許的范畴内）。</div>  
    
    <div class="memsystemtextblue">安全性</div>
    <div class="memsystemtextblack">诚泛（上海）贸易有限公司将采取合理的预防措施以防止您提供给我们的资料遭遗失、滥用或更改。诚泛（上海）贸易有限公司的代理商或承包商在为诚泛（上海）贸易有限公司供服务期间所收到的您提供给我们的资料，我们将要求他们保持资料的隐秘性，并且不允许将资料用于除了为诚泛（上海）贸易有限公司执行服务之外的其它任何用途。如果您已提供给我们有关您的个人资料并想要复制一份，或者 您想更正资料中任何与事实有出入的内容，或者您想从我们的记录中将资料删除，您可以通过email至customercare@novasol.om.cn与我们联系。我们将通过一定的努力来提供、更正或删除我们档案中有关于您的资料。</div>
    <div class="memsystemtextblue">不确定性</div>
    <div class="memsystemtextblack">虽然诚泛（上海）贸易有限公司尽力保证进入网站资料的正确性，但诚泛（上海）贸易有限公司不对网站上信息或资料的正确性、及时性或完整性进行保证或给予任何担保。</div>
    <div class="memsystemtextblue">个人信息使用</div>
    <div class="memsystemtextblack">如您在本网站填写信息卡完成注册，将被视为您同意由本网站在中国地区的经销商为其经销的所有品牌使用您的个人信息向您提供更完善的服务和商业推介，并可能为前述目的将您的个人信息提供给关联企业以及缔约方和合作伙伴。</div>
    
    
     
     
    <div class="returntop"><a href="#">返回顶部</a></div>                   
   </div>
  </div>
</div>



</body>
</html>

