<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>康美会官网</title>

</head>
<body>
<form action="" method="get">
<!--中间部分开始-->
<div id="main">
  <div class="current_place">      
     <ul>
	    <li><a href=".." target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">会员中心</a>&gt;&gt;</li>
		<li><a href="#" target="_self">兑换历史</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
   <div class="mem_des_before_left_head_img"> &nbsp; </div>
   <div class="mem_des_before_left_head_title">会员中心</div>
   <ul >
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
   <li class="mem_des_before_left_item_blue"><a href="#" target="_self">查看兑换历史</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
   <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E8%B4%AD%E7%89%A9%E8%BD%A6" target="_self">购物车</a></li>
   <li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
   
   </ul>
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
   <div class="record_history_myrecord_before_right_top">
     <div class="record_history_myrecord_before_right_item">
      <div id="record_history_myrecord_right_item_title_history"> 查看兑换历史
      </div>
	  <div id="record_history_myrecord_right_item_title"> 
	      <table>
		  <tr>
		   <td>
	         <div id="record_history_change_record_right_item_title_total"> 您目前消费积分总额：
             </div>
		   </td>
		   <td>
		     <div id="record_history_change_record_right_item_title_num">0
             </div>
		   </td>
		   </tr>
		   </table>		
      </div>
	  <div id="record_history_change_record_form">  
	     <div class="record_history_mem_basic_info_name_text">可兑换项目类型：&nbsp;&nbsp;&nbsp;&nbsp;
			    <select>
                    <option value ="recordchangeb1">商品</option>
                    <option value ="recordchangeb2">商品1</option>
                 </select>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
	  <div>
	    
       <div>
	      <table width="537">
		  <tr>
		   <td width="146">
	         <div class="record_history_mem_basic_info_name_text" style="width:123px;margin-left:9px">兑换历史时间:
             </div>
		   </td>
		   <td width="350" align="left">
		     <div class="record_history_mem_basic_info_select_text"><input type="text" name="date_start" size="20" />--<input type="text" name="date_start" size="20" />
             </div>
		   </td>
		   </tr>
		   </table>
       </div>
		
	  <div> 
		  <table>
		  <tr>
		   <td >
	         <div class="record_history_mem_basic_info_name_text" style="margin-left:9px">需要积分量:&nbsp;&nbsp;
             </div>
		   </td>
		   <td align="center">
		     <div class="record_history_mem_basic_info_select_text">--
             </div>
		   </td>
		   </tr>
		   </table>
      </div>
	   </div>     	    
	  </div>
	 <div id="record_history_record_condition_select_back">
	      <div>
		    <input type="submit" class="record_history_select_button"  name="record_condition_select" value="条件筛选"/>
		  </div>
	 </div>
	 
	 <div class="record_history_record_history_list">
	     无显示数据!	  
	 </div>  						   	   
     </div>
	 </div>
	 <!-- 下面是右下角框里的东西-->
     <div class="record_history_mem_des_before_right_bottom" style="margin-top:2px">
	    <div class="record_history_mem_des_before_right_bottom_in">
		
		 <div class="record_history_mem_info_telephone">
	  </div>
	 <div class="record_history_mem_info_teletext">
	  <ul>
	  <li>
	     NEED ASSISTANCE？
	  </li>
	  <li>
	   订购咨询热线：400-920-1398
	  </li>
	  </ul>
	  </div>
		
          <div id="record_history_mem_des_after_picture">
	
           </div>
		
	     </div>
	 </div>
	 
	 
  </div>
<div style="clear:both"></div>
</div>
</form>

</body>
</html>
