<form action="" method="get">
	<!--中间部分开始-->

	<div id="main">
		<div class="current_place">
			<ul>
				<li><a href="#" target="_self">首页</a>&gt;&gt;</li>
				<li><a href="#" target="_self">我的购物车</a></li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<!--左侧菜单开始-->
		<div id="mem_des_before_left_total">
			<div id="mem_des_before_left">
				<div class="mem_des_before_left_head_img"> &nbsp; </div>
				<div class="mem_des_before_left_head_title">会员中心</div>
				<ul>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
					<li class="mem_des_before_left_item_blue"><a href="#" target="_self">购物车</a></li>
					<li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
				</ul>        
			</div>
		</div>
		<!--右侧内容开始-->
		<div id="mem_des_before_right_total">
			<div class="trolley_product_right_top">
				<div class="trolleypic"><img src="../assets/trolley_menu2.jpg" width="713" height="40" /></div>   
				<div style="margin-left:21px">
					<div id="mem_des_before_right_item_title">
						<ul>
							<li class="mem_basic_info_text">送货信息&nbsp; </li>
							<li class="mem_basic_info_mark">*  </li>
							<li class="mem_basic_info_mark"><sub>为必填内容</sub></li>
							<div style="clear:both"></div>
						</ul>
					</div>

					<table>
						<tr>
							<td width="102">
								<div class="mem_basic_info_name_text">选择地址类别</div>
							</td>
							<td width="7" >
								<div class="">
									<select >
										<option value="recordchangeb1" size="23">公司地址</option>
										<option value="recordchangeb2" size="23">家庭地址</option>
									</select>
								</div>
							</td>
							<td>
								<div><input type="submit" class=“addaddress” value="+添加收货地址" style="border:none;text-decoration:underline;background:#fff;"></input>
								</td>                
							</tr> 
						</table>
						<table>
							<tr>
								<td> <div class="mem_basic_info_name_text">地址名称 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="addrname" class="textblank" type="text" name="addrname" size="46"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td width="32">
									<div class="mem_basic_info_name_text">姓名</div>
								</td>
								<td width="7" >
									<div class="mem_basic_info_mark2">*</div>
								</td>
								<td width="30" >
									<div class="maohao1">:</div>
								</td>
								<td width="293">
									<div><input id="fullname" class="textblank" type="text" name="name" size="46"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td> <div class="mem_basic_info_name_text">省份 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="province" class="textblank" type="text" name="address" size="7"></div>
								</td>
								<td> <div class="mem_basic_info_name_text">城市 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="city" class="textblank" type="text" name="address" size="7"></div>
								</td>
								<td> <div class="mem_basic_info_name_text">区县 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="district" class="textblank" type="text" name="address" size="7"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td> <div class="mem_basic_info_name_text">送货地址 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="contactaddr" class="textblank" type="text" name="address" size="46"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td width="32"> <div class="mem_basic_info_name_text">邮编</div>
								</td>
								<td width="7"> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td width="30" >
									<div class="maohao1">:</div>
								</td>
								<td> <div><input id="postcode" class="textblank" type="text" name="postcode" size="46"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td> <div class="mem_basic_info_name_text">手机号码</div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div>：<input id="telephone" class="textblank" type="text" name="phone" size="46"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td width="65">
									<div class="mem_basic_info_name_text">送货时间</div>
								</td>
								<td >
									<div class="">
										：<select  id="expect">
											<option value="recordchangeb1" size="23">对送货时间无特殊要求</option>
											<option value="recordchangeb2" size="23">只在工作日送货</option>
											<option value="recordchangeb3" size="23">只在双休日送货</option>
										</select>
									</div>
								</td>                            
							</tr> 
						</table>
						<table >
							<tr>
								<td> <div class="mem_basic_info_name_text">是否开具发票 </div>
								</td>
								<td> <div class="mem_basic_info_mark2">*</div>
								</td>
								<td> <div><div class="mem_basic_info_select_text"><input type="radio" id="noinvoice" name="yesorno" checked>否&nbsp;</div></div>
								</td>
								<td> <div><div class="mem_basic_info_select_text"><input type="radio" id="needinvoice" name="yesorno">是&nbsp;</div></div>
								</td>
								<td> <div style="color:#000;">抬头：<input id="title" class="textblank" type="text" name="yesorno" size="43"></div>
								</td>
							</tr> 
						</table>
						<table>
							<tr>
								<td width="32">
									<div class="mem_basic_info_name_text">备注</div>
								</td>               
								<td width="42" >
									<div class="maohao1">:</div>
								</td>
								<td width="293">
									<div><input id="comment" class="textblank" type="text" name="name" size="46"></div>
								</td>
							</tr> 
						</table>
					</div>
					<div class="trolleybody" style="margin-top:15px;">
						<table width="713" height="107" border="0">
							<tr>
								<td width="135">产品</td>
								<td width="135">单价</td>
								<td width="163">数量</td>
								<td width="80">小计</td>                 
							</tr>
							<tr>
								<td><img src="../assets/introduce_pic.jpg" width="120" height="111" /></td>
								<td>￥368.0</td>
								<td>1</td>
								<td>368.0</td>               
							</tr>
							<tr>
								<td>Q10辅酶素组合装</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>                  
							</tr>
						</table>
					</div>
					<div class="producttotalprice">产品总价：￥368.00</div> 	   
					<div class="producttotalprice">包装运费：￥10.00</div> 	    
					<div class="trolley_total">  
						<div class="trolley_telephonepic"><img src="../assets/trolley_telephone.jpg" width="45" height="37" /></div>
						<div class="trolley_telephonetext">
							<ul>
								<li>NEED ASSISTANCE?</li>
								<li>订购咨询热线 400-920-1398</li>
							</ul>
						</div>               
						<div class="totalprice">总价：￥378.00</div> 
					</div>  
					<div class="continue">
						<div class="continueshopping">
							<button type="button" class="laststop" value="" onclick="history.go(-1)" ></button>
							<button type="button" class="confirmpay" value="" onclick="payment()" ></button>                       
						</div>                           
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
