<form action="" method="get">
	<!--中间部分开始-->

	<div id="main">
		<div class="current_place">
			<ul>
				<li><a href="#" target="_self">首页</a>&gt;&gt;</li>
				<li><a href="#" target="_self">我的购物车</a></li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<!--左侧菜单开始-->
		<div id="mem_des_before_left_total">
			<div id="mem_des_before_left">
				<div class="mem_des_before_left_head_img"> &nbsp; </div>
				<div class="mem_des_before_left_head_title">会员中心</div>
				<ul>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
					<li class="mem_des_before_left_item_blue"><a href="#" target="_self">购物车</a></li>
					<li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
				</ul>        
			</div>
		</div>
		<!--右侧内容开始-->
		<div id="mem_des_before_right_total">
			<div class="trolley_product_right_top">
				<div class="trolleypic"><img src="../assets/trolley_menu.jpg" width="713" height="40" /></div>
				<% if not session[:cart] %>
					<div class="emptytrolley">您的购物车为空，请选择您中意的产品。</div>
				<% else %>
					<div class="trolleybody">
						<table width="713" height="107" border="0">
							<tr>
								<td width="135">产品</td>
								<td width="135">单价</td>
								<td width="163">数量</td>
								<td width="80">小计</td>
								<td width="166">操作</td>
							</tr>
						</table>
						<table width="713" height="107" border="0" id="myTableProduct">
							<% session[:cart].each do |productid, amount| %>
								<tr>
									<td><input type="hidden" id="productid" value=<%= "#{productid}" %> /></td>
									<td width="135"><img id="pic" width="120" height="111"></img><div id="product_name"></div></td>
									<td width="135">￥<label id="price"></label></td>
									<td width="163"><input type="text" id="amount" value=<%= "#{amount}" %> onblur="productCount()" size="1" style="text-align:center"></td>
									<td width="80">￥<label id="sum"></label></td>
									<td width="166"><a id="del">删除</a></td>
								</tr>
							<% end %>
						</table>
					</div>
					<div class="trolley_fare">
						<table width="713" height="75" border="0" id="t_shipping">
							<tr>
								<td width="49">运费</td>
								<td width="90"><input name="paytype" id="payonline" type="radio" value="1" checked onclick=" productCount()"></input>在线支付</td>
								<td width="133">￥0.00</td>
								<td width="165">&nbsp;</td>
								<td class="border" width="91">￥0.00</td>
								<td width="159">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><input name="paytype" id="COD" type="radio" value="2" onclick="productCount()"></input>货到付款</td>
								<td>￥0.00</td>
								<td width="165">&nbsp;</td>
								<td class="border">￥0.00</td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</div>   
					<div class="trolley_code">您有促销代码吗?
						<input type="text" name="code" id="code" /> <a href="#">+添加</a></div> 
				<% end %>
				<div class="trolley_total">  
					<div class="trolley_telephonepic"><img src="../assets/trolley_telephone.jpg" width="45" height="37" /></div>
					<div class="trolley_telephonetext">
						<ul>
							<li>NEED ASSISTANCE?</li>
							<li>订购咨询热线 400-920-1398</li>
						</ul>
					</div>               
					<div class="totalprice" >总价：￥<label id="product_total">0</label></div> 
				</div>  
				<div class="continue">
					<div class="continueshopping">
						<button type="button" class="continue_shopping" value="" onclick="location.href='/'"></button>
						<button type="button" class="continue_pay" value="" onclick="checkout(true)"></button>

					</div>                           
				</div>
			</div>
		</div>
	</div>
</form>

<% content_for :javascripts do %>
<script type="text/javascript">
<% if not session[:login] %>					
	$(document).ready (function() {openpopup(0, false);});
<% end %>

$("#myTableProduct #del").click(function (){
                var productid = $(this).parent().parent().find ('#productid').val();		
		getproductcart();
		$(this).parent().parent().remove();
		headerdel(productid);
		checkout (false);
});

function getproductcart() {
	var xmlhttps = [];
	var resp = {};

	$('#myTableProduct tr').each (function() {
		var productid = $(this).find ('#productid').val();

		$.ajax ({
			url: "/product/" + productid + ".json",
			type: "GET",
			dataType: "json",
			context: this
		}).done (function (resp) {
			if (resp.length > 0) {
				var ret = resp[0];

				if (ret.product_name)
					$(this).find('#product_name').prop('innerHTML', ret.product_name);

				if (ret.product_pic)
					$(this).find('#pic').prop('src', ret.product_pic);

				if (ret.price)
					$(this).find('#price').prop('innerHTML', parseFloat (ret.price).toFixed (2));

				productCount();

			} else {
				if (resp.description != null)
					alert (resp.description);
				else
					alert("请求失败，请再检查一遍您的输入并稍候再试");
			}
		}).fail (function() {
			alert("请求发送失败，请稍候再试");
		})
	})
}

function productCount() {
	var total = 0;
	var price;
	var amount;

	var item = $('input[name="paytype"]:checked').val();
	$('#myTableProduct tr').each (function() {
			price = $(this).find ('#price').html();
			amount = $(this).find ('#amount').val();
			$(this).find ('#sum').html ((price * amount).toFixed (2));
			total += price * amount;
	})
	total += parseFloat (payment_price[item]);    
	document.getElementById("product_total").innerHTML = total.toFixed (2);

}

function getshipping() {

	$('#t_shipping tr').each (function () {
			method = $(this).find ('input[name="paytype"]').val();
			$(this).find ('#price').each (function() {
				$(this).html (parseFloat (payment_price[method]).toFixed (2));
			})
	})
}

$(document).ready (function () {getproductcart(); getshipping();});

</script>
<% end %>
