<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<form action="" method="get">
<!--中间部分开始-->

<div id="main">
  <div class="current_place">
      <ul>
	    <li><a href="#" target="_self">首页</a>&gt;&gt;</li>
        <li><a href="#" target="_self">我的购物车</a></li>
		<div style="clear:both"></div>
	 </ul>
  </div>
  <!--左侧菜单开始-->
  <div id="mem_des_before_left_total">
  <div id="mem_des_before_left">
      <div class="mem_des_before_left_head_img"> &nbsp; </div>
      <div class="mem_des_before_left_head_title">会员中心</div>
      <ul >
           <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
           <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
           <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
           <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
           <li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
           <li class="mem_des_before_left_item_blue"><a href="#" target="_self">购物车</a></li>
           <li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
       </ul>        
  </div>
  </div>
  <!--右侧内容开始-->
  <div id="mem_des_before_right_total">
    <div class="trolley_product_right_top">
      <div class="trolleypic"><img src="../assets/trolley_menu3.jpg" width="713" height="40" /></div>   
      <div class="finishtext" style="margin-top:150px;font-size:15px;">感谢您<label id="fullname">甘小姐</label>光临康美汇</div>
      <div class="finishtext" style="font-size:15px;">订单确认邮件已经发送至：<label id="email">gannashi@hotmail.com</label></div>
      <div class="finishtext">如果订单出现问题，客服人员将主动与您联系。您也可直接拨打</div>
      <div class="finishtext">热线：400-920-1398</div>         	    	    
    </div>
  </div>
</div>
</form>
</body>
</html>
