<form action="" method="get">
	<!--中间部分开始-->

	<div id="main">
		<div class="current_place">
			<ul>
				<li><a href="#" target="_self">首页</a>&gt;&gt;</li>
				<li><a href="#" target="_self">我的购物车</a></li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<!--左侧菜单开始-->
		<div id="mem_des_before_left_total">
			<div id="mem_des_before_left">
				<div class="mem_des_before_left_head_img"> &nbsp; </div>
				<div class="mem_des_before_left_head_title">会员中心</div>
				<ul>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self">个人信息</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E7%A7%AF%E5%88%86" target="_self">我的积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E7%A7%AF%E5%88%86" target="_self">兑换积分</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E5%85%91%E6%8D%A2%E5%8E%86%E5%8F%B2" target="_self">查看兑换历史</a></li>
					<li class="mem_des_before_left_item"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E6%88%91%E7%9A%84%E8%AE%A2%E5%8D%95" target="_self">我的订单</a></li>
					<li class="mem_des_before_left_item_blue"><a href="#" target="_self">购物车</a></li>
					<li class="mem_des_before_left_item"><a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D" target="_self">退货</a></li>
				</ul>        
			</div>
		</div>
		<!--右侧内容开始-->
		<div id="mem_des_before_right_total">
			<div class="trolley_product_right_top">
				<div class="trolleypic"><img src="../assets/trolley_menu.jpg" width="713" height="40" /></div>
				<% if not session[:cart] %>
					<div class="emptytrolley">您的购物车为空，请选择您中意的产品。</div>
				<% else %>
					<div class="trolleybody">
						<table width="713" height="107" border="0">
							<tr>
								<td width="135">产品</td>
								<td width="135">单价</td>
								<td width="163">数量</td>
								<td width="80">小计</td>
								<td width="166">操作</td>
							</tr>
						</table>
						<table width="713" height="107" border="0" id="myTableProduct">
							<% session[:cart].each do |productid, amount| %>
								<tr>
									<td><input type="hidden" id="productid" value=<%= "#{productid}" %> /></td>
									<td width="135"><img id="pic" width="120" height="111"></img><div id="product_name"></div></td>
									<td width="135">￥<label id="price"></label></td>
									<td width="163"><input type="text" value=<%= "#{amount}" %> onblur="productCount()" size="1" style="text-align:center"></td>
									<td width="80">￥<label></label></td>
									<td width="166"><a id="del">删除<a></td>
								</tr>
							<% end %>
						</table>
					</div>
					<div class="trolley_fare">
						<table width="713" height="75" border="0">
							<tr>
								<td width="49">运费</td>
								<td width="90"><input name="paytype" id="payonline" type="radio" value="在线支付">在线支付</td>
								<td width="133">￥10.00</td>
								<td width="165">&nbsp;</td>
								<td class="border" width="91">￥10.00</td>
								<td width="159">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><input name="paytype" id="COD" type="radio" value="货到付款">货到付款</td>
								<td>￥20.00</td>
								<td width="165">&nbsp;</td>
								<td class="border">￥20.00</td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</div>   
					<div class="trolley_code">您有促销代码吗?
						<input type="text" name="code" id="code" /> <a href="#">+添加</a></div> 
				<% end %>
				<div class="trolley_total">  
					<div class="trolley_telephonepic"><img src="../assets/trolley_telephone.jpg" width="45" height="37" /></div>
					<div class="trolley_telephonetext">
						<ul>
							<li>NEED ASSISTANCE?</li>
							<li>订购咨询热线 400-920-1398</li>
						</ul>
					</div>               
					<div class="totalprice" >总价：￥<label id="product_total"></label></div> 
				</div>  
				<div class="continue">
					<div class="continueshopping">
						<input type="submit" class="continue_shopping" value="" ></input>
						<input type="submit" class="continue_pay" value="" ></input>

					</div>                           
				</div>
			</div>
		</div>
	</div>
</form>
<% content_for :javascripts do %>

<script type="text/javascript">
$("#myTableProduct #del").click(function (){
      $(this).parent().parent().remove(); 
      
});

function getproductcart() 
{
	var resp = {};
	
	var myTableTr=document.getElementById("myTableProduct").getElementsByTagName("tr"); 

	for(var i=0;i<myTableTr.length;i++)
	{
		var productid=myTableTr[i].getElementsByTagName("td")[0].getElementsByTagName("input")[0].value;
               
		var xmlhttp = new XMLHttpRequest();	
		xmlhttp.onreadystatechange = function()
		{
			if (xmlhttp.readyState == 4) {
				if (xmlhttp.status == 200) {
					resp = JSON.parse (xmlhttp.responseText);
					if (resp.length > 0) {
						var ret = resp[0];
									
						if (ret.product_name)
						{
						        $('#myTableProduct tr').each(function() {
                                                           $(this).find('div').prop('innerHTML', ret.product_name);
                                                             });
                                                //        document.getElementById("product_name").innerHTML = ret.product_name
						//	myTableTr[i].getElementsByTagName("td")[1].getElementsByTagName("div")[0].innerHTML = ret.product_name;

						}

						if (ret.product_pic) {
						       
						         $('#myTableProduct tr').each(function() {
                                                           $(this).find('#pic').prop('src', ret.product_pic);
                                                             });
						
						//	document.getElementById("pic").src = ret.product_pic;
							
						}
								
						if (ret.price)
						{       
						         $('#myTableProduct tr').each(function() {
                                                           $(this).find('label').prop('innerHTML',ret.price);
                                                             });
						//      document.getElementById("price").innerHTML = ret.price;
						//	myTableTr[i].getElementsByTagName("td")[2].getElementsByTagName("label")[0].innerHTML = ret.price;	
						
						}

					} else {
						if (resp.description != null)
							alert (resp.description);
						else
							alert("请求失败，请再检查一遍您的输入并稍候再试");
					}
				} else
					alert("请求发送失败，请稍候再试");
			}
		}
		xmlhttp.open ("GET", "/product/" + productid + ".json", true);
		xmlhttp.setRequestHeader ("Content-type", "application/x-www-form-urlencoded");
		xmlhttp.setRequestHeader ('X-CSRF-Token', $('meta[name="csrf-token"]').attr ('content'));
		xmlhttp.send();
	}
}
</script>

<script type="text/javascript">

	function productCount(){
		var total=0;     		

		var price;     
		var number;    


		var myTableTr=document.getElementById("myTableProduct").getElementsByTagName("tr"); 
		for(var i=0;i<myTableTr.length;i++){		
			price=myTableTr[i].getElementsByTagName("td")[2].getElementsByTagName("label")[0].innerHTML;		
			number=myTableTr[i].getElementsByTagName("td")[3].getElementsByTagName("input")[0].value;		
			total+=price*number;
			myTableTr[i].getElementsByTagName("td")[4].getElementsByTagName("label")[0].innerHTML=price*number;
		}
		document.getElementById("product_total").innerHTML=total;

	}
	window.onload=function() {getproductcart(); productCount();};


</script>
<% end %>
