<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
</head>
<body>
<div id="NovaSOLtelephone"><img src="/assets/SOLtelephone.jpg" width="158" height="62"> </div>
<div class="waitandsee" style="margin-top:30px;text-align:center;font-size:35px;color:#000;width:928px;">敬请期待!</div>
<div class="coming" style="text-align:center;font-size:35px;color:#000;width:928px;">Comming Soon!</div>
</body>
</html>
