<%= form_for([@usersecret.user, @usersecret]) do |f| %>
  <% if @usersecret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersecret.errors.count, "error") %> prohibited this usersecret from being saved:</h2>

      <ul>
      <% @usersecret.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
