<div class="footer_up">
  <a href="../%E4%BC%9A%E5%91%98%E4%B8%93%E5%8C%BA/%E4%BC%9A%E5%91%98%E5%88%B6%E5%BA%A6">关于康美汇</a>&nbsp;|&nbsp;<a href="../%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC/%E5%AE%A2-%E6%9C%8D">联系我们</a>&nbsp;|&nbsp;<a href="#">网站地图</a>
</div>
<div class="footer_bottom"> 2012 Novasol Co., Ltd. 保留所有权利／安全和隐私条款／  沪ICP备12039366号</div>
