/* CSS Document */
.mem_des_before_right_top{
  height:400px;
  border-top:0px;
  margin-top:-10px;
  border-left:#666 dotted 2px ; 
  margin-bottom:2px;
  
  
}
.mem_des_before_right_item{
  margin-top:0px;
  padding-top:0px;
  width:685px;
  height:400px;
  margin-left:21px;
  border-bottom:#666 dotted 2px ;  
}
.mem_des_before_right_item table{
margin-left:0px;
margin-top:0px;}
#mem_des_before_right_item_title ul{
  list-style:none; 
  padding-left:0px;
  margin-left:0px;
  padding-top:12px;
}
#mem_des_before_right_item_title ul li{
  float:left;
}
.mem_basic_info_text{
  font-size:16px;
  color:#666;
  font-weight:bold;
}
.mem_basic_info_mark{
  font-size:13px;
  color:#029ddc;
  font-weight:bold;
}
.mem_basic_info_mark2{
	margin-top:-4px;
	margin-left:-3px;
	 color:#029ddc;
	  font-weight:bold;
	    font-size:12px;
	
	}
.mem_basic_info_name_text{
   margin-left:-2px;
   color:#666;
   font-size:15px;
   font-weight:bold;
}
.mem_basic_info_select_text{
   color:#999;
   font-size:13px;
   font-weight:bold;
   
}
.mem_basic_info_select_text2{
   color:#999;
   font-size:13px;
   border:solid #D8D1FF 1px;
	}

.mem_basic_info_select_text_multi{
   color:#999;
   font-size:13px;
   font-weight:bold;
   margin-left:8px;
}
.mem_des_before_right_bottom{
  height:368px;
  width:746px;
  border-left:#666 dotted 2px;
  border-bottom:#666 dotted 2px; 

}
.mem_des_before_right_bottom_in{
  width:724px;
  margin-left:21px;
  padding-top:35px;
}
.mem_des_before_right_bottom_in table{
margin-left:0px;
margin-top:0px;
}
#mem_info_picture_write ul{
  list-style:none;
}
#mem_info_picture_write ul li{
  float:left;
}
.mem_info_finish{
	   width:121px;
	   height:34px;
	   margin-top:5px;
	   margin-left:200px;
	   float:left;
}
.mem_info_rewrite{
	   width:121px;
	   height:34px;
	   margin-top:5px;
	   margin-left:20px;
	   float:left;
}
.mem_info_telephone{
background:url(../assets/mem_telephone.jpg) 
       no-repeat;
	   width:50px;
	   height:40px;
	   margin-top:20px;
	   margin-left:25px;
	   float:left;
}
.mem_info_teletext ul{
	   margin-top:16px;
	   color:#666666;
	   margin-left:-40px;
	   float:left;
	   font-size:16px;
	   font-weight:bold;
	   list-style:none;
	   font-family:"微软雅黑" !important;
	  
}
.textblank{

	border:solid #D8D1FF 1px;
	}
	
.mem_info_finish_1{
	background:url(../assets/mem_finish.jpg) no-repeat;
	width:122px;
	height:41px;
	border:none;
        margin-top:70px;	
	}
.mem_info_finish_2{
	background:url(../assets/mem_rewrite.jpg) no-repeat;
	width:122px;
	height:41px;
	border:none;
        margin-top:70px;	
	}
	
	
.maohao1{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	 margin-left:-2px;
}
.maohao2{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	  margin-left:-31px;
}
.maohao3{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	  margin-left:-32px;
}
.maohao4{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	 margin-left:-32px;
}
.maohao5{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	 margin-left:-32px;
}
.maohao6{
	 font-family:"微软雅黑" !important;
	 font-size:14px;
	margin-left:-2px;
	
}
