@charset "utf-8";
/* CSS Document */
.product_right_bottom_aboutq10{
  min-height:1000px;
  width:720px;
  background:#EDEDED;
  border-left:#666 dotted 2px;
  border-bottom:#666 dotted 2px; 	
	}


#product_right_total_question{
  float:left;	
  width:740px;
  height:auto;
  background-color:#ffffff;
}
.memsystemlineone{
	font-size:16px;
    color:#6A4F9F;
//	font-family: "微软雅黑" !important;
	padding-top:12px;
	margin-left:29px;
}
.memsystemtextblue{
	font-size:14px;
    color:#009cdc;
//	font-family: "微软雅黑" !important;
	padding-top:15px;
	margin-left:29px;
	
}
.memsystemtextblack{
	font-size:12px;
	margin-right:16px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	padding-top:17px;
	margin-left:29px;
}
.textulli ul li{
	margin-left:12px;
	font-size:12px;
    color:#333333;
//	font-family: "微软雅黑" !important;
    margin-bottom:7px;
    margin-right:29px;
}
.textulli ul li ul{

	list-style:none;
	margin-top:8px;
	margin-left:-40px;
	margin-right:0px;
}
.textulli ul li ul li {
        margin-right:0px;
}
.textorange{
	margin-left:29px;
	margin-right:16px;
	font-size:11px;
    color:#ea8222;
//	font-family: "微软雅黑" !important;
}
.memsystem_table_grey table{
margin-top:0px;
margin-left:0px;
}
.memsystem_table_grey1{
	
	
	font-size:15px;
	font-weight:bold;
    background-color:#999999;
	color:#FFF;
//	font-family: "微软雅黑" !important;
	border-bottom:solid #eeeded 4px;
	height:39px;
	text-align:center;
}
.memsystem_table_grey2{
	text-align:center;
    height:39px;
	font-size:12px;
    background-color:#d7d7d7;
	color:#666666;
//	font-family: "微软雅黑" !important;
	border-bottom:solid #eeeded 4px;
}
.memsystem_table_grey2 ul{
	list-style:none;
	text-align:left;
	margin-top:3px;
	margin-bottom:3px;
	margin-left:-27px;	
}

.memsystem_table_grey3{
    text-align:center;
	font-size:12px;
    background-color:#ffffff;
	color:#666666;
//	font-family: "微软雅黑" !important;
	border-bottom:solid #eeeded 4px;
	height:39px;
}	
.memsystem_table_grey3 ul{
	list-style:none;
	text-align:left;
	margin-top:3px;
	margin-bottom:3px;
	margin-left:-27px;	
}
.returntop{
	margin-left:638px;
	margin-top:20px;
	
}
.textvip ul{
	list-style:none;
	margin-top:3px;
	margin-bottom:3px;
	margin-left:-35px;
	text-align:center;	
	}
.textgold ul{
	list-style:none;
	margin-top:3px;
	margin-bottom:3px;
	margin-left:-37px;
	text-align:center;	
	font-size:12px;
	}

.memsystem_table_grey{
	margin-left:16px;
	}
.instructionpic{
	margin-left:25px;
}



