/* CSS Document */

.myrecord_myrecord_before_right_top{
  min-height:866px;
  border-top:0px;
  margin-top:0px;
  border-left:#666 dotted 2px; 
  border-bottom:#666 dotted 2px; 

}
.myrecord_myrecord_before_right_item{
  margin-top:0px;
  padding-top:0px;
  width:707px;
  height:auto;
  margin-left:4px;
  /* border-bottom:#666 dotted 2px ; */ 
}

.myrecord_myrecord_right_item_title{
  font-size:16px;
  color:#333;  
  padding-left:0px;
  margin-left:30px;
  padding-top:10px;
  font-weight:bold;
}

.myrecord_myrecord2_right_item_info{
  margin-left:30px;
  padding-top:15px;
  color:#000;
  font-weight:bold;
  font-size:15px;
	}
.myrecord_myrecord2_right_item_grey{
	height:49px;	
	width:700px;
	margin-left:15px;
	background:#EBEBEB;
	border-bottom:dotted 2px;
	margin-top:12px;
	}
.myrecord_myrecord2_right_item_grey table{
	padding-top:14px;
	color:#000;
        margin-left:15px;	
	text-align:center;
	font-size:14px;}
.myrecord_lastfour{
	border-left:solid #000 1px;
	}
.myrecord_myrecord2_right_item_white{
	margin-left:15px;
	width:700px;
	}
.myrecord_myrecord2_right_item_white table{
	border-bottom:solid 1px;
	text-align:center;
	color:#666666;}

	
#myrecord_myrecord_right_item_title_total{
  font-size:16px;
  color:#0099CC;  
  padding-left:0px;
  margin-left:-2px;
  padding-top:0px;
  font-weight:bold;
}
#myrecord_myrecord_right_item_title_num{
  font-size:16px;
  color:#FF6600;  
  padding-left:0px;
  margin-left:0px;
  padding-top:0px;
  font-weight:bold;
}
.myrecord_mem_basic_info_text{
  font-size:16px;
  color:#666;
  font-weight:bold;
}
.mem_basic_info_mark{
  font-size:12px;
  color:#00CCCC;
  font-weight:bold;
}
.myrecord_mem_basic_info_name_text{
   margin-left:-2px;
   color:#666;
   line-height:30px;
   font-size:15px;
   font-weight:bold;
}
.myrecord_mem_basic_info_select_text{
   color:#999;
   font-size:13px;
   font-weight:bold;
   width:100px;
   line-height:30px;
}

#myrecord_record_condition_select_back{
   background:#ebebeb;
   text-align:center;
   width:700px;
   margin-left:15px;
   margin-top:2px;
   height:33px;
   padding-top:6px;
   
}

#myrecord_record_list{
   margin-top:10px;
   width:700px;
   margin-left:15px;
   height:auto;
   background:#ebebeb;
   color:#666;
   line-height:36px;
   font-size:15px;
   font-weight:bold;
}
.myrecord_mem_des_before_right_bottom{
  height:138px;
  width:746px;
  
//  border-left:#666 dotted 2px;
//  border-bottom:#666 dotted 2px; 

}
.myrecord_mem_des_before_right_bottom_in{
  width:724px;
  height:auto;
  margin-left:21px;
  padding-top:35px;
}
.myrecord_mem_info_telephone{
background:url(../assets/mem_telephone.jpg) 
       no-repeat;
	   width:50px;
	   height:40px;
	   margin-top:20px;
	   margin-left:25px;
	   float:left;
}
.myrecord_mem_info_teletext ul{
	   margin-top:20px;
	   margin-left:-40px;
	   float:left;
	   font-size:16px;
	   font-weight:bold;
	   list-style:none;
	   color:#666666;
}
.myrecord_mem_basic_info_name_text_grey{
	background:#ebebeb;
	width:702px;
	margin-left:15px;
	}
.myrecord_mem_basic_info_name_text_grey table{

margin-left:15px;}

.myrecord_allorder{
	margin-left:15px;}
.myrecord_ordercode_right_item_white{
	width:700px;
	margin-top:10px;
	margin-left:15px;
	background:#ebebeb;	
	border-top:solid #C4C4C4 1px;
	height:25px;
	color:#000;
	}
.myrecord_ordercode_right_item_white table{
	text-align:center;
	}
.myrecord_myorder_right_item_white{
	margin-left:15px;
	width:700px;
	border-bottom:solid 1px #D6D6D6;
	color:#666666;
	
	}
.myrecord_myorder_right_item_white table{
	text-align:center;}
.myrecord_select_button	{
	width:160px;
	height:25px;
	
	background-color:#e1e0e0;
}
.myrecord_dotted{
        border-bottom:dotted #000 1px;}
