@charset "utf-8";
/* CSS Document */

.products_Q10_title{
    background:#4B3B86;
	color:#fff;
    width:221px;
	height:22px;
	border-radius:10px 10px 0 0;
	font-size:20px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:-50px;
	margin-left:-1px;
}
.products_top{
        margin-top:30px;
        height:285px;
	border-bottom:dotted #4B3B86 2px;
}
.products_top_left{
    float:left;
	margin-left:30px;
}	

.products_top_right{
    margin-left:256px;
}

.product_bottom_left{
    float:left;
}

.products_around{
    background:#FAFBFB;
    width:594px;
	height:528px;
	border:solid #ABA3C7 1px;
	border-radius:0 10px 0 0;
	margin-top:35px;
	margin-left:70px;
}

.learnmore{
    background:url(../assets/products_more.jpg) no-repeat;
	width:82px;
	height:30px;
	border:none;
}

.clickbuy{
    background:url(../assets/products_buy.jpg) no-repeat;
	width:82px;
	height:30px;
	border:none;
	margin-left:20px;
}
.product_bottom_left{
  //  margin-top:30px;
	margin-left:12px;
}

.product_bottom_right{
    margin-left:300px;
	margin-top:30px;
}


