/* CSS Document */
.service_right_total{
        width:719px;
	background-color:#eeeded;
	height:421px;
	border-bottom:#666 dotted  2px;
	border-left:#666 dotted  2px;
}

.service_pic{
	
	height:118px;
	
}
.service_text{
	font-size:14px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	margin-top:30px;
	margin-left:40px;
}
.service_phone_left{
	float:left;
	font-size:14px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	margin-top:15px;
	margin-left:40px;
}
.service_phone_right{
	font-size:14px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	margin-top:15px;
	margin-left:40px;
	
}
.service_mail_left{
	float:left;
	font-size:14px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	margin-left:40px;
}
.service_mail_right{
    font-size:14px;
    color:#333333;
//	font-family: "微软雅黑" !important;
	margin-left:40px;
}
	


