.trolley_show_show{	
    display:none;
    position: absolute;
	left: 832px;
	top: 65px;
	z-index:200;
	width:295px;
//	border-bottom:solid #CCC 1px;
//	border-top:solid #CCC 1px;
//	border-left:solid #CCC 1px;
//	border-right:solid #CCC 1px;
	margin-left:10px;
	color:#000;
	
}
.trolley_show_line1_left{
	background-color:#d5c8e4;
	margin-left:11px;
	margin-top:7px;
	float:left;}
.trolley_show_line1_right{
	background-color:#d5c8e4;
}
.trolley_show_line1_top{
	background-color:#d5c8e4;
	padding-top:10px;
	padding-left:117px;
	color:#333333d;
	font-size:12px;
	font-family:"Microsoft YaHei"!important;
}
.trolley_show_line1_bottom ul{
	list-style:none;
	margin-top:3px;
	
}
.trolley_show_rmb{
	float:left;
	
	padding-left:116px;
	font-size:15px;
	font-family:"Microsoft YaHei"!important;
	
}
.trolley_show_value{
	color:#6a3f9f;
	font-size:15px;
	font-family:"Microsoft YaHei"!important;
	}
	
.trolley_show_line1_bottom{
	
	background-color:#d5c8e4;
	height:65px;
	}
.trolley_show_line2{
	background-color:#d5c8e4;
	}
	
.trolley_show_line2_left{
	float:left;
	padding-left:9px;
	padding-top:5px;
	background-color:#d5c8e4;
	color:#333333;
	font-size:12px;
	font-family:"Microsoft YaHei"!important;
	}
.trolley_show_line2_mid{
	float:left;
	padding-left:81px;
	padding-top:1px;
	background-color:#d5c8e4;
	color:#333333;
	font-size:16px;
	font-family:"Microsoft YaHei"!important;
}
.trolley_show_line2_right{
	padding-top:2px;
	font-size:17px;
	font-family:"Microsoft YaHei"!important;
  	background-color:#d5c8e4;
}
.trolley_show_line3{
	background-color:#d5c8e4;
}
.trolley_show_line3_left{
	float:left;
}
.trolley_show_line3_right{
	padding-left:30px;
}
.trolley_show_line4{
	margin-top:15px;
	margin-left:25px;
	color:#333333d;
	font-size:14px;
	font-family:"Microsoft YaHei"!important;
}
